@import url("http://yui.yahooapis.com/3.3.0/build/cssgrids/grids-min.css");
@import url("boiler.css");
@import url("../uni_form/uni-form.css");
@import url("buttons.css");
@import url("colorbox.css");


/* reset */
*:focus { outline: none }
body, sdiv,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
label{text-align: left;}


body{
	background: url(../img/back.png) repeat;
}

a, a:visited{
	color: #555;
}

/* Common Classes */

.table {
    display:table;
    background-color:#fefefe;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
    width:100%;
}

.thg{
    display:table-header-group;
    font-weight:bold;
    font-size:1.2em;
}

.tr{
    display:table-row;
}

.tc{
    display:table-cell;
    padding: 5px 5px 5px 5px;
}

.tc-vcenter {
    vertical-align: middle;
}

.tc-vtop {
    vertical-align: top;
}

.tablealt{
    background-color:#EEE;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


/* Layout */

#top-bar {
	min-width: 960px;
	background: url(../img/back_header.png) repeat;
	color: #FFF;
	font: 13px/27px Arial,sans-serif;
	height: 30px;
	border-bottom: solid 1px white;
}

#top-bar a, #top-bar{
	text-shadow: 0px 0px 3px #444;
	color: #fff;
}
	
.yui3-g *{
	letter-spacing: 0em;
	word-spacing: 0em;
}

.header_link {
	text-decoration:none;
}
	
#top-auth-box {
	text-align: right;
	margin-right: 40px;
}

#top-logo {
	margin-left: 40px;
}

#logo{
	margin: 50px;
	width: 400px;
	margin: 200px auto;
	height: 200px;
}

#main h1.logo {
	text-align: center;
	top: 35%;
	width: 100%;
	font-size: 6em;
	text-shadow: 1px 1px 0 #FFFFFF;
	color: #333;
	padding-top: 50px;
}

/** Sign Up & Log In **/

#simple_form{
	color: #EEE;
	background: url(../img/back_header.png) repeat;
}
	
#nest_signup, #nest_login, #nest_user_profile{
	margin: 10% auto;
	width: 30%;
	color: #EEE;
	background: url(../img/back_header.png) repeat;
}

#nest_signup, #nest_login > .buttonHolder {
	background-color: black;
	text-align: center;
}

#nest_signup > .error {
	color: #EEE;
	background-color: red;
}

#nest_login > .error {
	color: #EEE;
	background-color: red;
}

/** Projects **/

.column{
	background: white;
	box-shadow: 0px 0px 10px 0.5px #AAA;
	border: solid 1px #DDD;
	border-radius: 5px 5px 0 0;
	min-height: 500px;
	margin: 6px 2px;
}

.column h2{
	background: url(../img/back_title.png);
	/*background: url(../img/back_header.png);
	color: #fff;*/
	border-bottom: 1px solid #ddd;
	color: #555;
}

body.projects h2 {
	text-align: center;
	text-shadow: 1px 0 5px #EFEFEF;
}

#projects-tasks-header div {
	display: inline-block;
}

li span.task div {
	display: inline-block;
}

#projects-tasks-container {
	width: 95%;
	margin: 5px auto; 
}

#create-task, #create-comment {
	position: relative;
	width: 95%;
	margin: 10px auto;
	padding-bottom: 10px;
}

#create-task input, #create-comment input {
	width: 97%;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	padding: 6px;
	border: 1px solid #999;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

.link_menu{
	text-decoration: none;
	color: #777;
	border-bottom: 1px solid #DDD;
	padding: 5px 10px;
	display: block;
}

a:hover.link_menu, #projects-list a:hover{
	background: #efefef;
}

#projects-container > li{
	text-decoration: none;
	color: #777;
	border-bottom: 1px solid #DDD;
	display: block;
	margin-bottom: 10px;	
	padding-bottom: 10px;	
	margin-top: 5px;	
}

#projects-container a{
	text-decoration: none;
	padding: 5px;
}

#projects-container .project{
	font-weight: bold;
}

#projects-list a{
	display: block;
}

.task{
	display: block;
}
