@import url("boiler.css");
@import url("../uni_form/uni-form.css");

#container .yui3-g {
	letter-spacing: 0.05em;
	word-spacing: 0em;
}

#top-bar {
	min-width: 960px;
	background-color: #2D2D2D;
	color: #FFF;
	font: 13px/27px Arial,sans-serif;
	height: 30px;
	border-bottom: 1px solid black;
}

#top-bar a {
	color: #FFF;
}

#top-auth-box {
	text-align: right;
	margin-right: 40px;
}

#top-logo {
	margin-left: 40px;
}

#main h1.logo {
	position: absolute;
	text-align: center;
	top: 35%;
	width: 100%;
	font-size: 6em;
	text-shadow: 5px 5px 5px #666;
	color: #EEE;
}

#nest_signup {
	position: absolute;
	top: 20%;
	left: 40%;
	width: 20%;
	color: #EEE;
	background-color: black;
}

#nest_signup .error {
	color: #EEE;
	background-color: red;
}
#nest_signup .buttonHolder {
	background-color: black;	
}

/** Projects **/
#projects-menu {
	float: right;
}

body.projects .column {
	margin: 10px auto;
	width: 95%;
	box-shadow: 0px 0px 2px gray;
}

body.projects h2 {
	text-align: center;
}

