{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Projects" %}{% endblock %}
{% block body_class %}projects{% endblock %}

{% block main %}

<div class="yui3-u-1-6">
     <div id="projects-menu" class="column">
     	<h2>{% trans "Menu"%}</h2>
     	<ul>
     	<li><a href="" title="">{% trans "Create Project" %}</a></li>
     	</ul>
     </div>
</div>
<div class="yui3-u-1-3">
     <div id="projects-list" class="column">
     <h2>{% trans "Projects"%}</h2>
     	<div id="projects-container"></div>
     </div>
</div>
<div class="yui3-u-1-3">
     <div id="projects-tasks" class="column">
     <h2>{% trans "Tasks"%}</h2>
     	<div id="projects-tasks-container"></div>
     </div>
</div>
<div class="yui3-u-1-6">
     <div id="projects-side" class="column">
     <h2>{% trans "Side"%}</h2>
     </div>
</div>
{% endblock %}


{% block footer_js %}
<script src="{{ STATIC_URL }}js/projects.js"></script>
<script type="text/javascript">
var pusher = new Pusher('93d0509ce62dd993b05a');
var channel = pusher.subscribe('{{ user.username }}');
channel.bind('task_created', function(data) {
	window.app.addTask(new window.Task({task: data.task}));
}); 
channel.bind('task_updated', function(data) {
	var task = window.tasks.get(data.task.id);
	task.fetch();
});
</script>
{% endblock %}

