{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Projects" %}{% endblock %}
{% block body_class %}projects{% endblock %}

{% block main %}

<div class="yui3-u-1-6">
     <div id="projects-menu" class="column">
     	<h2>{% trans "Menu"%}</h2>
     	<ul>
     	<li><a href="{% url projects_project_new %}" title="">{% trans "Create Project" %}</a></li>
     	</ul>
     </div>
</div>
<div class="yui3-u-1-3">
     <div id="projects-list" class="column">
     <h2>{% trans "Projects"%}</h2>
     	<div id="projects-list-contanier">
     		
     		{% for member in membership %}
     			{% with member.project as project %}
     			<div >
     				<span>{{ project.name }}</span>
     				<ul>
     					{% for sprint in project.sprint_set.all %}
	     					<li>
	     						{{ sprint.name }}
	     					</li>
	     				{% endfor %}
	     					<li>{% trans "Backlog" %}</li>
     				</ul>
     			</div>
     			{% endwith %}
     			
     		{% endfor %}
     		
     	</div>
     </div>
</div>
<div class="yui3-u-1-3">
     <div id="projects-tasks" class="column">
     <h2>{% trans "Tasks"%}</h2>
     	<div id="projects-tasks-container"></div>
     </div>
</div>
<div class="yui3-u-1-6">
     <div id="projects-side" class="column">
     <h2>{% trans "Side"%}</h2>
     </div>
</div>
{% endblock %}


{% block footer_js %}
<script src="{{ STATIC_URL }}js/projects.js"></script>
{% endblock %}

